@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html, body {
    height: 100vh;
    margin: 0;
    font-family: "Unica One";
    overflow: hidden;
}

.selector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#warning {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#warning h1 {
    color: white;
}

#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#warning {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

#header {
    display: flex;
    justify-content: center;
}

#nav-bar {
    position: fixed;
    top: 15px;
    display: flex;
    justify-content: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

nav a:hover {
    background-color: white;
    color: #406042;
}

#nav-one {
    order: 2;
}

#nav-two {
    order: 1;
}

#nav-three {
    order: 3;
}

#header-img {
    margin: auto;
    max-width: 80%;
    height: auto;
}

#start {
    display: none;
}

#about {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-para {
    font-size: 1.3rem;
    padding: 0;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#author {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 5px;
}

#author:hover {
    color: #406042;
    background-color: white;
}

#contact {
    display: none;
    flex-direction: column;
}

#contact label {
    margin-bottom: 5px;
    color: white;
    font-size: 1.2rem;
}

#form {
    display: flex;
}

#email {
    height: 30px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: "Unica One";
    font-size: 18px;
}

#email::placeholder {
    color: white;
    font-family: "Unica One";
    font-size: 18px;
}

#submit {
    margin-left: 5px;
    border: 1px solid white;
    background-color: rgba(255,255,255,0);
    font-family: "Unica One";
    font-size: 18px;
    color: white;
}

#submit:hover {
    background-color: white;
    color: #406042;
}

@media (max-width: 500px) {
    #header {
        flex-direction: column;
    }

    #nav-bar {
        position: relative;
        flex-direction: column;
        order: 2;
    }

    nav a {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 5px;
        border: 1px solid white;
    }

    #nav-one {
        order: 1;
    }
    
    #nav-two {
        order: 2;
    }
    
    #nav-three {
        order: 3;
        margin-bottom: 50px;
    }
}

/*
@media (max-height: 500px) and (orientation: portrait) {
    body {
        overflow: hidden;
    }

    main {
        display: none;
    }

    #warning {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #warning h1 {
        color: white;
    }
}
*/
